.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 13%; 
}

.sair {
    display: flex;
    justify-content: flex-end;
}

.sairImg {
    width: 15%;
    height: 40%;
}

.text {
    font-size: 20px;
    font-weight: 600;
    color: white;
}

@media (max-width: 1300px) {
    .logo {
        width: 25%; 
    }
}

@media (max-width: 768px) {
    .logo {
        width: 50%; 
    }

    .sairImg {
        width: 13%; 
    }

    .text {
        font-size: 25px; 
    }
}

@media (max-width: 400px) {
    .logo {
        width: 50%; 
    }

    .sairImg {
        width: 15%; 
    }

    .text {
        font-size: 18px;
    }
}

