.corpo {
    position: relative;
    top: 20%;
}

.busca {
    position: relative;
    left: 5%;
    width: 5%;
}

.barraPesquisa {
    width: 30%;
    background-color: #D9D9D9;
    height: 44px;
    border-radius: 15px;
    border: 0px;
}